pandas
numpy
matplotlib
arch
datasets
jupyter
pydantic
pytest
pytest-cov
huggingface_hub
loguru
PyGithub
pydriller
powerlaw
psycopg2
dependency-injector
python-dotenv
asyncpg
jinja2
sklearn
scipy
sqlalchemy
nltk
mlab
seaborn
pyldavis
wordcloud
statsmodels
arch
gensim
spacy
bokeh
selenium
chromedriver-binary